In [5]:
!pip install seaborn

In [7]:
# Kết nối PostgreSQL
import os
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

# Dùng biến môi trường POSTGRES_URL nếu có; mặc định theo docker-compose
DB_URL = os.getenv("POSTGRES_URL", "postgresql://inventory_user:inventory_pass@localhost:5432/inventory_db")
engine = create_engine(DB_URL)
print("Connected:", engine.url)

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# Doanh thu theo tháng năm 2022
query_monthly_revenue = """
SELECT EXTRACT(MONTH FROM order_date) AS month_no,
       SUM(revenue) AS total_revenue
FROM sales
WHERE EXTRACT(YEAR FROM order_date) = 2022
GROUP BY month_no
ORDER BY month_no;
"""

df_rev = pd.read_sql_query(query_monthly_revenue, engine)
df_rev["month_no"] = df_rev["month_no"].astype(int)

plt.figure(figsize=(10,4))
sns.barplot(data=df_rev, x="month_no", y="total_revenue", color="#4C78A8")
plt.title("Monthly Revenue - 2022")
plt.xlabel("Month")
plt.ylabel("Revenue")
plt.tight_layout()
plt.show()

In [ ]:
# Top 10 kho theo số lượng SKU khác nhau
query_top_warehouses = """
SELECT w.warehouse_code, w.city, COUNT(DISTINCT i.sku_id) AS distinct_skus
FROM inventory i
JOIN warehouses w ON i.warehouse_id = w.warehouse_code
GROUP BY w.warehouse_code, w.city
ORDER BY distinct_skus DESC
LIMIT 10;
"""

df_kw = pd.read_sql_query(query_top_warehouses, engine)

plt.figure(figsize=(10,5))
sns.barplot(data=df_kw, y="warehouse_code", x="distinct_skus", color="#F58518")
plt.title("Top 10 Warehouses by Distinct SKUs")
plt.xlabel("Distinct SKUs")
plt.ylabel("Warehouse")
plt.tight_layout()
plt.show()

In [ ]:
# Thời gian lead trung bình theo kho
query_lead_time = """
SELECT w.warehouse_code, w.city, AVG(i.average_lead_time_days) AS avg_lead_time
FROM inventory i
JOIN warehouses w ON i.warehouse_id = w.warehouse_code
GROUP BY w.warehouse_code, w.city
ORDER BY avg_lead_time ASC;
"""

df_lead = pd.read_sql_query(query_lead_time, engine)

plt.figure(figsize=(10,5))
sns.barplot(data=df_lead, x="warehouse_code", y="avg_lead_time", color="#54A24B")
plt.title("Average Lead Time by Warehouse")
plt.xlabel("Warehouse")
plt.ylabel("Avg Lead Time (days)")
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

hello world